.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li{
  color:black;
  list-style-type:none;
  padding: 5px;
}

.state{
  overflow: auto;
  height: 150px;
}
.union{
  overflow: auto;
  height: 150px;
}

.button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  background: #ad5389;
  background: linear-gradient(0deg, orange 0%, white 50%, green 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em white;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
@media (prefers-reduced-motion: no-preference) {
  .button {
    animation: example infinite 2s linear;
  }
}

@keyframes example {
  0%{
    background: linear-gradient(0deg, orange 0%, white 50%, green 100%);
  }
  15%{
    background: linear-gradient(45deg, orange 0%, white 50%, green 100%);
  }
  25%{
    background: linear-gradient(90deg, orange 0%, white 50%, green 100%);
  }
  40%{
    background: linear-gradient(135deg, orange 0%, white 50%, green 100%);
  }
  50%{
    background: linear-gradient(180deg, orange 0%, white 50%, green 100%);
  }
  60%{
    background: linear-gradient(235deg, orange 0%, white 50%, green 100%);
  }
  75%{
    background: linear-gradient(270deg, orange 0%, white 50%, green 100%);
  }
  90%{
    background: linear-gradient(315deg, orange 0%, white 50%, green 100%);
  }
  100%{
    background: linear-gradient(0deg, orange 0%, white 50%, green 100%);
  }
}

.button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em royalblue;
}

.button:active {
  box-shadow: 0 0.3em 1em -0.5em royalblue;
}

.grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  padding: 16px;
}

.header h1{
  font-size: 72px;
  background: -webkit-linear-gradient(orange, white,green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.country {
  background: linear-gradient(90deg, orange 0%, white 50%, green 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}